@model Cutlery

@{
    ViewBag.Title = "About product";
}

<div>
            <div class="fs-2 text-center mb-2">Product description</div>
            <div class="fs-4 mb-2">
                <b>Type: </b>
                @Model.Type
            </div>
            <div class="fs-4 mb-2">
                <b>Price: </b>
                @Model.Price
            </div>
            <div class="fs-4 mb-4">
                <b>Material: </b>
                @Model.Material
            </div>
            <div class="text-center">
                <div
                    class="btn btn-primary"
                >
                    Add to cart
                </div>
                        <a asp-controller="Catalog" asp-action="DeleteCutleryById" asp-route-id="@Model.Id"
                    class="btn btn-danger ms-2"
                >
                    Delete Item
                </a>
            </div>
                <div class="text-end">
                        <a asp-controller="Catalog" asp-action="GetCutlerys">Go to catalog</a>
                </div>
        </div>